* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

header {
  background-color: #fff;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
